body {
    background: url("images/dog-188273_1920.jpg") no-repeat;
    background-color: #FFFFFF;
/*    background-size: 90%;
*/}

@font-face {
	font-family: "wham";
	src: url(fonts/wham/wham.ttf); 
	
}


h1 {
	color: #BEF202;
	font-family: "luckiest guy";
	font-size: 72px;
	text-shadow:
   		-2px -2px 0 #1B676B,  
    	2px -2px 0 #1B676B,
    	-2px 2px 0 #1B676B,
    	2px 2px 0 #1B676B;
	padding: 40px;
}

h2 {
	font-family: "fjalla one";
	font-size: 32px;
}

#about {
	background-color: #1B676B;
	opacity: .7;
	font-family: "fjalla one";
	color: #EAFDE6;
}

#dog_walking {
	background-color: #519548;
	opacity: .8;
	font-family: "fjalla one";
}

#dog_sitting {
	background-color: #88C425;
	opacity: .7;
	font-family: "fjalla one";
}

#area_served {
	background-color: #BEF202; 
	opacity: .7;
	font-family: "fjalla one";
}

#gallery {
	background-color: #EAFDE6;
	opacity: .7;
	font-family: "fjalla one";
}

#contact {
	background-color: #1B676B;
	opacity: .8;
	font-family: "fjalla one";
	color: #EAFDE6;
}

.headline {
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

.boxes {
	padding: 20px;

}

#dan_photo {
	height: 50%;
	width: 50%;
}

.reveal img {
	height: 300px;
	object-fit: contain;
}

.reveal {
	background-color: black;
	color: white;
}

